<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeyMaskViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HeyMaskViewer.Properties.Settings>
            <setting name="View1" serializeAs="String">
                <value />
            </setting>
            <setting name="View2" serializeAs="String">
                <value />
            </setting>
            <setting name="View3" serializeAs="String">
                <value />
            </setting>
            <setting name="View4" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>34726</value>
            </setting>
            <setting name="DMPercent" serializeAs="String">
                <value>0.8</value>
            </setting>
        </HeyMaskViewer.Properties.Settings>
    </userSettings>
</configuration>